/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change
@import "config/icons";
@import "config/fonts";

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure 
@import "site/structure"; // Your site structure
*/

$include-html-type-classes: $include-html-classes;

h1, h2, h3, h4, h5, h6 { 
  font-family: $stainlesslight;
  font-weight: normal;
  font-style: normal;
  color: $darkgrey;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;  
}

body {
  color: $grey;
}

p, li {
	font-size: 17px;
} 

.gn-menu-main {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  &:hover {
		background:$darkorange;
		cursor:pointer;
	}
}

.contactwidget .checkboxwrap {
	.regular-checkbox {
		border-radius: 40px;
		padding:21px!important;
		background: none;
		border: 3px solid #fff;
	}
	label {
		line-height: 2.7em!important;
	}	
}

.homefooter {
	li {
		padding: 0px 15px!important;
	}
	ul li {
		list-style: disc;
		padding:0!important;
	}
	a {
	  color:$grey!important;
		display: block;
		width: 100%;
	  &:hover {
		  color:$orange!important;
	  }
		p {
	    margin-bottom:0px;
	  }
	  span {
		  font-size: 27px;
			padding: 0 10px 0 0;
	  }
	}
	.contacthome a {
		padding-left:0px; 
	}
}

body.page-id-848 .row.main-row .row, body.page-id-9 .row.main-row .row, body.page-id-11 .row.main-row .row {
	padding: 0 56px;
}

a.ssba_facebook_share img, a.ssba_twitter_share img, a.ssba_linkedin_share img, a.ssba_google_share img {
	display:none!important;
}

div.ssba a {
	font-size: 30px;
	padding: 0 10px 0 0;
	float: left;
}
/*
body.page-template-Template_About-php p, body.page-template-Template_Homepage-php p {
	font-size:17px;
}
*/

.homefooterfacebook {
	.cff-expand a {
		display:none;
	}
	.cff-item {
		padding: 0px 0 10px 0!important;
	}
	.cff-viewpost-facebook {
		padding: 0px!important;
		margin: -10px 0 0 0!important;
	}
}

#cff .cff-viewpost-facebook {
  text-align: right;
}

::-moz-selection, ::selection {
  background-color: $orange;
  color: $white;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

a {
  color: $orange;
  transition: color linear 0.3s;
  -webkit-transition: color linear 0.3s;
  -ms-transition: color linear 0.3s;
  -moz-transition: color linear 0.3s;
  -o-transition: color linear 0.3s;
  &:hover {
    color: $darkorange;
  }
  &:active {
    color: #ae6115;
  }
}

ol {
  list-style-position: inside;
}

.wrapper {
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-container {
  padding-top: 0;
  transition: padding linear 0.2s;
  -webkit-transition: padding linear 0.2s;
  -ms-transition: padding linear 0.2s;
  -moz-transition: padding linear 0.2s;
  -o-transition: padding linear 0.2s;
  max-width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  a.home-link {
    position: absolute;
    width: 315px;
    top: 29px;
    left: 65px;
    z-index: 102;
    height: auto;
  }
  .fixed {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    max-width: 100%;
    z-index: 10;
  }
  .headerbar {
    padding:0!important;
    background: url("../images/header_bg.png");
  }
  header nav {
    text-align: right;
    a {
      color: $white;
      font-size: 18px;
      font-family: $stainlesslight;
      &:hover {
        color: $orange;
      }
      &.fi-address-book {
        cursor:default;
      }
    }
  }
  #main-nav {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 100%;
    height: 88px;
    .nav-menu {
      width: 100%; 
      padding: 0 280px 0 0;
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 27px 10px 26px 10px;
    }
  }
}

.sub-menu .navpagetitle {
  display:none;
}

ul.socialheader {
  position: absolute;
  right: 123px;
  top: 20px;
  width: 137px;
  list-style: none;
  li {
    float:left;
    font-size:29px;
    padding: 0 4px;
    a {
      color:$darkergrey;
      &:hover {
        color: $orange;
      }
    }
  }
}

ul.capul img {
	padding-bottom: 2%;
}
 
.sharing {
  font-size: 14px;
  line-height: 23px;
}

#ssba {
  float: right;
  padding-left: 10px;
  a {
    background:url(../images/social-media-icons.jpg) no-repeat;
    background-size: 23px;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-right:10px;
    img {
      display: none;
    }
  }
  .ssba_tooptip {
      background:none!important;
      width: 150px!important;
      margin-right:0!important;
  }
  #ssba_facebook_share {
    background-position: 0 0;
    &:hover {
      background-position: 0 -25px;
    }
  }
  #ssba_twitter_share {
    background-position: 0 -50px;
    &:hover {
      background-position: 0 -75px;
    }
  }
  #ssba_linkedin_share {
    background-position: 0 -152px;
    &:hover {
      background-position: 0 -177px;
    }
  }
  #ssba_google_share {
    background-position: 0 -101px;
    &:hover {
      background-position: 0 -126px;
    }
  }
} 

.row {
  margin-right: 1%!important;
  .row {
    margin-left: 0!important;
    margin-right: 1%!important;
    .row {
      margin-right: 0px!important;
      margin-top: 4%;
      &:first-child {
        margin-top: 0px;
      }
    }
  }
}

/* Last image in a 3 stacked image row gets a little padding */
.row .large-2.columns .row:last-child .large-8 img{
  padding-top:1px;
}

.columns {
  padding: 1% 0 0 1%!important;
  .columns {
    padding: 0px!important;
  }
}

.pagetitle {
  padding: 80px 0 0 61px!important;
  h1 {
    font-size: 50px;
    margin: 0;
    line-height: 50px;
  }
  h2 {
    font-size: 25px;
    margin: 0;
    padding: 22px 0 35px 3px;
    line-height: 25px;
  }
  .siblingnav {
    float: right;
    margin-right: 18%;
    li {
      float:left;
      list-style: none;
      a {
        padding: 26px;
        width: 36px;
        display: block;
        background: url("../images/siblingnav_icon.png") no-repeat 13px 9px; 
        opacity: .8;
      }
      .arrow-right {
        -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
      }
      &:hover {
        opacity: 1.0;
        position: relative;
      }
    }
  }
}

.pagetitle .siblingnav a[data-title]:hover:after {
  content: attr(data-title);
  padding: 2px 9px;
  color: $grey;
  position: absolute;
  left: -45px;
  bottom: 100%;
  white-space: nowrap;
  z-index: 20px;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  font-size: 13px;
}

.pagetitle .siblingnav a.arrow-right[data-title]:hover:after {
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
}

.columns.image {
  img {
    position: relative;
    z-index: 9;
  }
  .image-description {
    color: $white;
    position: absolute;
    z-index: 1;
  }
}

.columns.image .image-description {
  .content-inner {
    padding: 2.5em;
  }
  h2 {
    color: $white;
  }
  h3 {
    color: $white;
  }
}

.columns.text, .columns.whitetext, .columns.nobg {
  ul {
    font-size: 22px;
    padding-left: 20px;
  }
  h3 {
		padding: 64px 64px 0 64px !important;
		background: $lightgrey;
		margin: 0 0 -32px 0;
  }
  h3.nomargin {
		margin: 0;
		padding-bottom: 64px!important;
  }
  p {
    font-size: 22px;
    padding:64px !important;
    background:$lightgrey;
    margin: 0;
    height: 100%;
  }
}

.textexample h3{
	font-family: "Stainless Ext", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;
}

.textexample2 h3{
	font-family: Stainless!important;
}

.row .large-4.columns .row .large-4.columns:first-child {
	padding-right:1%!important;
}

.row .large-4.columns .row .large-4.columns:last-child {
	padding-left:1%!important;
}

.edit2.row {
	margin-right: 0px !important;
	margin-top: 2%!important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.emailsignup {
	border-top: 1px solid $lightgrey;
}

.columns.whitetext {
	p {
  	background:$white!important;
  }
  h3 {
    color:$orange;
    font-family: $stainlesslight;
    background:$white!important;
  }
}

.columns.nobg {
	p {
  	background:none!important;
  }
  h3 {
    color:$darkgrey;
    font-family: $stainlesslight;
    background:none!important;
  }
}

.columns.highlight {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#393838), to(#727272));
  background: -webkit-linear-gradient(left, #393838, #727272);
  background: -moz-linear-gradient(left, #393838, #727272);
  background: -o-linear-gradient(left, #393838, #727272);
  background: -ms-linear-gradient(left, #393838, #727272);
  background: linear-gradient(left, #393838, #727272);
  background-color: #393838;
  padding:84px 42px!important;
  margin: 1% 0 1% 1%!important;
  width: 100%;
  color:$white;
  .smalltext, .largetext {
    font-size: 22px;
    display:block;
    text-align: center;
    line-height: 50px;
  }
  .largetext {
    font-size: 36px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.grid-content.link {
  background: $orange;
  color: $white;
  font-style: normal;
  padding: 20px 0;
  vertical-align: middle;
  text-align: center;
  display: block;
  .content-inner {
    font-size: 2em !important;
    text-transform: uppercase;
  }
  &:hover {
	  background: $darkorange !important;
	}
}

.recent-blog-post {
  img {
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 0;
    padding: 0;
  }
  a:hover img {
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -ms-opacity: 0.8;
    -moz-opacity: 0.8;
    -o-opacity: 0.8;
  }
}

.columns.date {
	background: $orange;
  color: $white;
  font-size: 2.25em;
  padding: 1.25em 0;
  .month {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
  .day {
    display: block;
    font-size: 2em;
  }
}

.page-header h2 {
  padding-top: 0;
}

.socialbox {
  margin:0;
  margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 14% 0;
  li {
    text-align: center;
    padding:0;
    a {
      font-size: 59px;
      color: $white;
      &:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
      }
    }
  }
}

.bsidebar {
  padding-top:0!important;
  aside {
    padding: 1% 10% 1% 0;
    border-bottom: 1px solid $lightgrey;   
  }
  .screen-reader-text {
    display:none;
  }
} 

.button {
  background: $orange;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: $darkorange;
  }
  &:active {
    background-color: #b76616;
  }
  &:focus {
    background-color: #b76616;
  }
}

a.workchilditem {
  position:relative;
  display: block;
  .featuredtext {
    background: url("../images/header_bg.png");
    padding: 5px 10px;
    max-height:71px;
    overflow:hidden;
    h2 {
      font-size: 20px!important;
      color: $white; 
      margin-bottom: 4px; 
    }
    h3 {
      font-size: 14px;
      color:$white;
      margin: 0 0 7px 0; 
    }
  }
}

.comment-form {
  border-top: 1px dotted $lightgrey;
  margin-top: 1.66667em; 
  padding-top: 1.66667em;
}

.comment {
  border-bottom: 1px dotted $lightgrey;
  margin-bottom: 1.66667em;
} 

.vcard {
  color: $orange;
  border: 0;
  font-style: normal;
  font-weight: bold;
}

.cat-page {
  border-bottom: 1px solid $grey;
  padding-bottom: 10px;
  margin-bottom: 15px!important;
  padding-right: 5%;
  .large-2 {
    &:hover a.continuereading {
      margin-top: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    a {
      float:right;
      padding:10px 18px 0 0; 
      img {
        padding-top: 4px;
        z-index: 10;
        position:relative;
      }
    }
    a.continuereading {
      margin-top: -30px;
      position:relative;
      z-index: 9;
    }
  }
}

.gn-trigger.fi-address-book:before { content: ""!important; }

.gn-icon span {
  position: absolute;
  left: -21px;
  top: -5px;
  font-size: 23px;
  color:$white;
  font-size: 18px;
  font-family: $stainlesslight;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
}

.checkboxwrap {
  line-height: 16px!important;
  line-height: 0px;
  font-size: 13px;
  padding: 14px 10px 0 0;
	label {
		line-height: 1.0em;
	}
	.regular-checkbox {
	  -webkit-appearance: none;
	  background-color: $white;
	  border: 1px solid $grey;
	  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	  padding: 9px!important;
	  border-radius: 3px;
	  display: inline-block;
	  position: relative;
	  float: left;
	  margin: 5px 5px 0 0!important;
	}
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: $white;
  border: 1px solid $lightgrey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: $grey;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: $orange;
}

.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px); 
}

.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.2);
}

.reveal-modal {
  padding:0;
}

.row .row.footer-container {
  margin:40px 0 0 0!important;
}

.pagination {
	padding: 10px 4% 50px 4%;
}

.bsidebar input[type="submit"] {
	background: $grey;
	border: 0px;
	padding: 5px 20px;
	color: $white;
	margin-bottom:10px;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	&:hover {
		color: $orange;
		background: $lightgrey;
	}
}

.footer-container {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1);
  padding: 2.5em!important;
  max-width: 100%;
  ul {
    margin: 8px 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      margin: 0 10px 0 0;
      padding: 0;
      vertical-align: middle;
      a {
        color: $grey;
        transition: color linear 0.2s;
        -webkit-transition: color linear 0.2s;
        -ms-transition: color linear 0.2s;
        -moz-transition: color linear 0.2s;
        -o-transition: color linear 0.2s;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.icon-block-b {
  color: $orange;
}

.prefix.button {
	margin-top: 10px;
}

.left-col img { 
	margin-bottom:20px; float:right;
}

#menu-mobile {
	line-height: 45px!important;
	li {
	  margin: 0px 0px!important;
	  padding: 0 0 0 0px!important;
	  a {
	    padding: 0 0 0 10px!important;
	    text-align: left;
	    border:none!important;
	    border-image: none;
	  }
	  ul {
	    display:none;
	    visibility: visible;
	    line-height: 46px!important;
	    height: auto;
	    li {
	      margin: 0px 0px!important;
	      padding-left: 20px!important;
	    }
	  }
	  .sub-menu {
	    background:$white;
	    li {
	      width:100%!important;
	      clear: both;
	      padding-left:10px;
	      box-shadow: inset 0 1px $lightgrey;
	      a {
	        line-height: 47px; 
	        img {
	          height: 45px;
	          width: auto;
	          margin: 1px 10px 0 -30px;
	        }
	      }
	    }
	    span.navcaption {
	      width: auto;
	      color: $grey!important;
	      font-size: 18px;
	      line-height: 45px;
	      display: inline;
	    }
	  }
	}
}

.workmain {
  padding-bottom: 1%;
  padding-left: 20px;
  padding-right: 20px;
}

body.page-template-bio_page-php, body.single-post {
	.nav-doubleflip a.prev {
		height: 150px;
	}
	.nav-doubleflip a.next {
		height: 150px;
	}
}

/*--------------------*/
/* Double flip */
/*--------------------*/

section.color-8 {
  position: relative;
}

.nav-doubleflip a {
  -webkit-perspective: 1000px;
  perspective: 1000px;
	&.prev {
  	height:80px;
  	-webkit-perspective-origin: 100% 50%;
		perspective-origin: 100% 50%;
		float:left;
  }
  &.next {
	  height:80px;
	  -webkit-perspective-origin: 0% 50%;
		perspective-origin: 0% 50%;
		float:right;
  }
  .icon-wrap {
	  position: relative;
	  z-index: 100;
	  display: block;
	  width: 30px;
	  height: 30px;
	  -webkit-transition: background-color 0.3s 0.3s;
	  transition: background-color 0.3s 0.3s;
	}
	svg.icon {
	  position: relative;
	  top: 122%;
	  -webkit-transition: fill 0.3s 0.3s;
	  transition: fill 0.3s 0.3s;
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  fill: rgb(99, 99, 102);
	}
	div {
	  position: absolute;
	  top: 0;
	  width: 150px;
	  height: 100%;
	  -webkit-transition: -webkit-transform 0.3s 0.3s;
	  transition: transform 0.3s 0.3s;
	  -webkit-transform-style: preserve-3d;
	  transform-style: preserve-3d; 
	  display: table; 
	}
}

@-moz-document url-prefix() {
    .nav-doubleflip a.prev, .nav-doubleflip a.next {
      float: none!important;
      display: block; 
    }
    section.color-8 {
      width: 40px;
    }
    .row.workbottomnav .rightnv section.color-8, .row .worktopnav section.color-8 {
      float:right!important;
    }
		.contactwidget .checkboxwrap label {
			line-height: 1.0em!important;
		}    
    
}

.nav-doubleflip a.prev div,
.nav-doubleflip a.prev h3 {
  left: 100%;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%; 
  transform-origin: 0% 50%;
}

.nav-doubleflip a.next div,
.nav-doubleflip a.next h3 {
  right: 100%;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.nav-doubleflip img,
.nav-doubleflip h3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav-doubleflip img {
  border:1px solid $orange;
}

.nav-doubleflip h3 {
  margin: 0;
  padding: 16% 0;
  background-color: $orange;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

}

.nav-doubleflip a:hover .icon-wrap {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav-doubleflip a:hover svg.icon {
  fill: $orange;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav-doubleflip a:hover div,
.nav-doubleflip a:hover h3 {
  -webkit-transform: rotateY(0deg); 
  transform: rotateY(0deg);
}

.nav-doubleflip a:hover div {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav-doubleflip a:hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.worktopnav {
  padding-top: 80px!important;
}

.workbottomnav {
  padding: 0 0 35px 0!important;
}

/* Hover effect for Work landing page */
.grid {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	figure {
		position: relative;
		z-index: 1;
		display: inline-block;
		overflow: hidden;
		margin: -0.135em;
		width: 100%;
		background: none;
		text-align: center;
		cursor: pointer;
		img {
			position: relative;
			display: block;
			opacity: 1;
		}
		figcaption {
			padding: 2em;
			color: $white;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}
	}
}


.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	font-size: 68.5%;
}

figure.effect-sadie {
		figcaption::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(top, rgba(54,54,54,0) 37%, rgba(54,54,54,0.8) 71%);
		background: linear-gradient(to bottom, rgba(54,54,54,0) 37%, rgba(54,54,54,0.8) 71%);
		content: '';
		opacity: 0;
		-webkit-transform: translate3d(0,50%,0);
		transform: translate3d(0,50%,0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
	h2 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		color: $white;
		-webkit-transition: -webkit-transform 0.35s, color 0.35s;
		transition: transform 0.35s, color 0.35s;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0);
		background: url("../images/header_bg.png"); 
		font-size: 27px;
		padding: 5px 0;
	}
	p {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1em;
		width: 100%;
		opacity: 0;
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
		text-transform: none;
		-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
		transition: opacity 0.55s, transform 0.55s;
		span {
			display:block;
			font-size: 18px;
			text-transform: uppercase!important;
			margin-bottom: -3px;
		}
	}
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.blogcontent h2, .blogcontent article {
	padding: 0 2% 0 1%!important;
}

.blogcontent .entry-content img {
	width: auto;
}

div.newssidebar ul li {
	padding: 5px 0;
	a {
		display:block;
	}
	span.newsdate {
		font-size: 12px;
		padding-left: 10px;
	}
}

.newsdateblock span {
	background: #e4801c;
	color: #ffffff;
	text-align: left;
	width: 92%;
	display: block;
	padding: 20px 10px 20px 10px;
	margin-top: 10px;
}

.row.newsrow {
	border-bottom:1px solid $grey;
	padding: 10px 0 20px 0;
	&:last-child {
		border-bottom:none;
	}
}











div.whyboondock section {
  height:500px;
  padding-top:50px;
  padding-bottom:50px;
  overflow:auto;
}

div.whyboondock .bg-1, .bg-2, .bg-3 {
	color:#fff;
  -webkit-background-size: auto, cover!important;
  -moz-background-size: auto, cover!important;
  -o-background-size: auto, cover!important;
  background-size: auto, cover!important;
}

div.whyboondock .bg-1 {
  background: url('../images/dot-pattern.png') 100px 100px, url('../images/background_color_boondock_walker.jpg') no-repeat center center fixed;
}
  
div.whyboondock .bg-2 {
	background: url('../images/dot-pattern.png') 100px 100px, url('../images/background_gray_boondock_walker.jpg') no-repeat center center fixed;
}

div.whyboondock .bg-3 {
	background: url('../images/dot-pattern.png') 100px 100px, url('../images/background_test_718_boondock_walker.jpg') no-repeat center center fixed;
}

div.whyboondock .row.why {
	padding: 50px 45px!important;
}

div.whyboondock .row.why.whyfixed {
	padding: 75px 45px!important;
	background:$lightgrey!important;
}

div.whyboondock .row.why h3 {
	font-size: 30px;
	padding-right: 20px!important;
}

div.whyboondock .row.why .large-2 {
	text-align: right;
}

div.whyboondock .row.why .large-2 h3 {
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out; /** Firefox **/
  -o-transition: all 2s ease-in-out; /** Opera **/
  
  transform: translate(-150px,-10px);
	-webkit-transform: translate(-150px,-10px); /** Chrome & Safari **/
	-o-transform: translate(-150px,-10px); /** Opera **/
	-moz-transform: translate(-150px,-10px); /** Firefox **/
	color:#FFF!important;
}

div.whyboondock .row.why .large-2 h3.start {
	transform: translate(0,-10px);
	-webkit-transform: translate(0,-10px); /** Chrome & Safari **/
	-o-transform: translate(0,-10px); /** Opera **/
	-moz-transform: translate(0,-10px); /** Firefox **/
	color:#636366!important;
}

div.whyboondock .row.why .large-6 {
	border-left:1px solid black;
}

div.whyboondock [data-magellan-expedition-clone] {
	background:none;
	padding: 0px!important;
}

.newsletter-confirmation {
	color: #FFF;
	font-size: 27px;
	text-align: center;
}










/* Retina */

@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (max-width: 1440px) {
  /*.gn-menu-wrapper.gn-open-all, .gn-scroller {
    width: 600px;
  }*/
  ul.gn-submenu .address br {
    display:none;
  }
  .columns.text {
    font-size: 19px;
    ul {
      font-size: 19px;
    }
    p {
      font-size: 19px;
    }
  }
}












/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (max-width: 1024px) {

  .nav-doubleflip svg.icon {
    height:35px;
    width:35px;
  }

  .nav-menu {
    display:none;
  }
  .mobile-menu {
    display:block;
  }
  .sub-menu .navpagetitle {
    display:inline-block;
  }
  .gn-scroller {
    overflow-y: scroll;
  }
  .headerbar {
    height: 68px;
  }
  .gn-menu-wrapper {
    top: 68px;
  }
  .gn-menu-main {
    top: -8px;
    right: 10px;
    height: 58px;
    background:none;
    li.gn-trigger {
      font-size: 40px;
    }
  }
  
  .gn-trigger.fi-address-book:before { content: "\f169"!important; } 
  
  .gn-icon span {
    display:none;
  }
  
  .socialheader {
    display:none!important;
  }
  
  #menu-mobile li .sub-menu li a {
    line-height: 44px!important;
  }
  .sub-menu > li {
    border-left: none!important;  
    border-left-width: 0px!important;
    border-right: none!important;
    border-right-width: 0px!important;
    border-image: none!important;
    -webkit-border-image: none!important;
    a img {
      display: inline-block!important;
    }
  }
}

@media only screen and (max-width: 1024px) {
	.row .row .row {
    margin-top: 1%!important;
  }
  .row .row .row:first-child {
    margin-top: 0px!important;
  }
  .pagetitle, .worktopnav {
  	padding:1% 0 0 1% !important
  }
  
}

/* Styles for Landscape screen */
@media only screen and (min-width: 768px) and (max-width: 1024px) {    
	.row .row .row {
		/* margin-top: 4%!important; */ 
	}
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (max-width: 768px) {
  p {
    margin-bottom: 5px;
  }
  .row .row .row {
    margin-top: 1%!important;
  }
  .row .row .row:first-child {
    margin-top: 0px!important;
  }
  .flex-control-nav li {
    margin: 0 3px;
  }
  .bhfeed a h3 {
		margin-left: 1%;
	}

  .columns.text, .columns.whitetext, .columns.nobg {
    padding: 1% 0 0 1% !important;
    font-size: 16px;
    h3 {
	    padding: 32px !important;
    }
    ul {
      font-size: 16px;
    }
    p {
      font-size: 16px;
      padding: 32px !important;
    }
  }
	body.page-id-848 .row.main-row .row, body.page-id-9 .row.main-row .row, body.page-id-11 .row.main-row .row {
		padding: 0 2%;
	} 
  body.page-id-848 .row.main-row section {
	  display:none;
  }
  div.whyboondock .row.why {
		padding: 10px 2%!important;
	}
	div.whyboondock .row.why .large-6 {
		border-left: none;
	}
	
	.valuesblock {
		h2 {
			margin:0;
			font-size: 30px;
		}
		h3 {
			font-size: 23px!important;
		}
		h4 {
			margin:0;
			font-size: 20px;
		}
	}
	
	div.whyboondock h1 {
		font-size: 1.9rem!important;
	}
	
	div.whyboondock .row.why .large-2 h3 {
	  transition: all 0.3s ease-in-out;
	  -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
	  -moz-transition: all 0.3s ease-in-out; /** Firefox **/
	  -o-transition: all 0.3s ease-in-out; /** Opera **/
	  transform: translate(0,-10px);
		-webkit-transform: translate(0,-10px); /** Chrome & Safari **/
		-o-transform: translate(0,-10px); /** Opera **/
		-moz-transform: translate(0,-10px); /** Firefox **/
		color:#636366!important;
	}
	
	div.whyboondock .row.why.whyfixed {
		padding: 75px 2% 20px 2% !important;
	}
	
	
	
	
  .flex-control-paging li a {
    width: 10px;
    height: 10px;
  }
  .flex-control-nav {
    bottom: 0px;
  }  
  .header-container a.home-link {
    left: 10px;
    top: 23px;
    width: 70%;
  }
  .cat-page {
		padding-right: 1%;
	}
	.row .row.footer-container {
		padding: 20px!important;
	}
  .footer-container {
    ul {
      margin: 4px 0 0 0;
    }
  }
  .sub-menu > li a img {
    filter: none!important;
    -webkit-filter: grayscale($white)!important;
  }
  .pagetitle {
    padding: 10px 0 0 15px!important;
    h1{
      font-size: 28px;
      line-height: 28px;
    }
    h2 {
      padding: 7px 0 10px 0;
      font-size: 18px;
      line-height: 18px;
    }
  }
  .gn-menu-wrapper {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    /* Netscape */
    -moz-opacity: 1.0;
    /* Safari 1.x */
    -khtml-opacity: 1.0;
    /* Good browsers */
    opacity: 1.0;
  }
  .sub-menu > li {
    border-left: none!important;  
    border-left-width: 0px!important;
    border-right: none!important;
    border-right-width: 0px!important;
  }
  #menu-mobile li .sub-menu li a {
    line-height: 43px!important;
  }
  .sub-menu > li {
    border-image: none!important;
    -webkit-border-image: none!important;
  }
  .workchilditem h2 {
    visibility: visible!important;
    opacity: 1!important;
  }

  .nav-doubleflip a {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    &.next {
	    -webkit-transform-origin: 100% 50%;
	    transform-origin: 100% 50%;
	    margin-right: 0px!important;
	  }
	  &.prev {
	    -webkit-transform-origin: 0% 50%; 
	    transform-origin: 0% 50%;
	  }
  }
  
  .nav-doubleflip a.prev div, .nav-doubleflip a.prev h3 {
    left: 112%;
  }
  
  .nav-doubleflip a h3 {
    display:none;
  }
  
  .nav-doubleflip a div {
    -webkit-transform: rotateY(0deg)!important; 
    transform: rotateY(0deg)!important;
  } 
  
  .workbottomnav {
    padding: 0 0 6px 0 !important;
  }
  
  .homefooter li {
		padding: 15px 0px !important;
	}
	
	.gn-menu-main:hover {
		background: none;
	}
	.blogsingletitle {
		margin-top:20px!important;
	}
  
}

/* Styles for Landscape screen */
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation:landscape) {    
    .header-container a.home-link {
      top: 17px;
      left:20px;
    }
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}























