/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
 


$white: #FFFFFF;

$lightgrey: #e6e6e6;
$grey: #808084;
$darkgrey: #636366;
$darkergrey: #353535;

$orange: #e4801c;
$darkorange: #c56e17;
$darkerorange: #ae6115;

$stainlesslight: "Stainless Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;